<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/topbar.html')  %>
	<%= require('html-loader!./layout/header.html')  %>
	<div class="breadcrumbs">
		<div class="wrap">
			<a href="./index.html" class="link">LUNAR</a>
			<span>></span>
			<span class="search-result">商品详情</span>
			<span>></span>
			<span class="search-subtitle"></span>
		</div>
	</div>
	<div class="list-content">
		<!-- detail.string -->
	</div>
	<%= require('html-loader!./layout/footer.html')  %>
</body>
</html>