<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/topbar.html')  %>
	<%= require('html-loader!./layout/header.html')  %>
   
    <!-- category -->
	<div class="wrap">
		<div class="category">
			<ul class="category-list">
				<li class="category-item">
					<a class="title" href="./list.html?keyword=手机">
						手机&nbsp;电话卡
						<i class="fa fa-chevron-right"></i>
					</a>
					<div class="category-content">
						<a href="./index.html" class="link">LUNAR1</a>
					</div>
				</li>
				<li class="category-item">
					<a href="./list.html?keyword=电脑" class="title">
						电脑&nbsp;办公配件
						<i class="fa fa-chevron-right"></i>
					</a>
					<div class="category-content">
						<a href="#" class="link">LUNAR2</a>
					</div>
				</li>
				<li class="category-item">
					<a href="./list.html?keyword=电视" class="title">
						电视&nbsp;空调&nbsp;冰箱&nbsp;洗衣机
						<i class="fa fa-chevron-right"></i>
					</a>
					<div class="category-content">
						<a href="#" class="link">LUNAR3</a>
					</div>
				</li>
				<li class="category-item">
					<a href="./list.html?keyword=家电" class="title">
						厨卫家电&nbsp;小家电
						<i class="fa fa-chevron-right"></i>
					</a>
					<div class="category-content">
						<a href="#" class="link">LUNAR4</a>
					</div>
				</li>
				<li class="category-item">
					<a href="./list.html?keyword=家具" class="title">
						家具&nbsp;家装
						<i class="fa fa-chevron-right"></i>
					</a>
					<div class="category-content">
						<a href="#" class="link">LUNAR5</a>
					</div>
				</li>
				<li class="category-item">
					<a href="./list.html?keyword=化妆品" class="title">
						个护化妆&nbsp;清洁&nbsp;纸品
						<i class="fa fa-chevron-right"></i>
					</a>
					<div class="category-content">
						<a href="#" class="link">LUNAR6</a>
					</div>
				</li>
				<li class="category-item">
					<a href="./list.html?keyword=母婴" class="title">
						母婴&nbsp;玩具&nbsp;童装童鞋
						<i class="fa fa-chevron-right"></i>
					</a>
					<div class="category-content">
						<a href="#" class="link">LUNAR7</a>
					</div>
				</li>
				<li class="category-item">
					<a href="./list.html?keyword=箱包" class="title">
						鞋靴&nbsp;箱包&nbsp;珠宝&nbsp;钟表
						<i class="fa fa-chevron-right"></i>
					</a>
					<div class="category-content">
						<a href="#" class="link">LUNAR8</a>
					</div>
				</li>
				<li class="category-item">
					<a href="./list.html?keyword=户外运动" class="title">
						户外运动&nbsp;足球&nbsp;汽车生活
						<i class="fa fa-chevron-right"></i>
					</a>
					<div class="category-content">
						<a href="#" class="link">LUNAR9</a>
					</div>
				</li>
				<li class="category-item">
					<a href="./list.html?keyword=图书" class="title">
						图书&nbsp;音像&nbsp;电子书
						<i class="fa fa-chevron-right"></i>
					</a>
					<div class="category-content">
						<a href="#" class="link">LUNAR10</a>
					</div>
				</li>
			</ul>
			<div class="banner">
				<div class="banner-list">
					<li class="banner-item active">
						<a href="./detail.html?productId=63">
							<img class="banner-pic" src="<%= require('../image/banner/banner1.jpg') %>">
						</a>
					</li>
					<li class="banner-item">
						<a href="./detail.html?productId=36">
							<img class="banner-pic" src="<%= require('../image/banner/banner2.jpg') %>">
						</a>
					</li>
					<li class="banner-item">
						<a href="./detail.html?productId=37">
							<img class="banner-pic" src="<%= require('../image/banner/banner3.jpg') %>">
						</a>
					</li>
					<li class="banner-item">
						<a href="./detail.html?productId=38">
							<img class="banner-pic" src="<%= require('../image/banner/banner4.jpg') %>">
						</a>
					</li>
					<li class="banner-item">
						<a href="./detail.html?productId=39">
							<img class="banner-pic" src="<%= require('../image/banner/banner5.jpg') %>">
						</a>
					</li>
				</div>
				<div class="banner-arrow">
					<a class="banner-btn prev fa fa-angle-left"></a>
				    <a class="banner-btn next fa fa-angle-right"></a>
				</div>
				<ul class="banner-control">
					<li class="control-item active"></li>
					<li class="control-item"></li>
					<li class="control-item"></li>
					<li class="control-item"></li>
					<li class="control-item"></li>
				</ul>
			</div>
		</div>
	</div>

    <!-- flash-deals -->
	<div class="wrap flash-deals">
		<div class="fdTime">
			<div class="fdTime-title">LUNAR秒杀</div>
			<div class="fdTime-subtitle">FLASH DEALS</div>
			<div class="fdTime-icon fa fa-bolt"></div>
			<div class="fdTime-desc">距离本场结束还有</div>
			<div class="fdTime-cd">
				<ul class="cd">
					<li class="cd-item cd-hours"></li>
					<li class="cd-item cd-minutes"></li>
					<li class="cd-item cd-seconds"></li>
				</ul>
			</div>
		</div>
		<div class="fdGoods">
			<div class="fdGoods-slider">
				<ul class="slider-list">
					<li class="slider-item">
						<a href="./detail.html?productId=40" class="slider-commodit">
							<img src="<%= require('../image/floor/floor1-1.jpg') %>" class="sc-pic"/>
							<p class="sc-title link">腾达AC1206 1200M</p>
							<div class="sc-price">
								<span class="commodit-price sc-newPrice">￥219.00</span>
								<span class="commodit-price sc-oldPrice">￥219.00</span>
								<p class="delete-decoration"></p>
							</div>
						</a>
					</li>
					<li class="slider-item">
						<a href="./detail.html?productId=41" class="slider-commodit">
							<img src="<%= require('../image/floor/floor1-2.jpg') %>" class="sc-pic"/>
							<p class="sc-title link">腾达AC1206 1200M</p>
							<div class="sc-price">
								<span class="commodit-price sc-newPrice">￥219.00</span>
								<span class="commodit-price sc-oldPrice">￥219.00</span>
								<p class="delete-decoration"></p>
							</div>
						</a>
					</li>
					<li class="slider-item">
						<a href="./detail.html?productId=42" class="slider-commodit">
							<img src="<%= require('../image/floor/floor1-3.jpg') %>" class="sc-pic"/>
							<p class="sc-title link">腾达AC1206 1200M</p>
							<div class="sc-price">
								<span class="commodit-price sc-newPrice">￥219.00</span>
								<span class="commodit-price sc-oldPrice">￥219.00</span>
								<p class="delete-decoration"></p>
							</div>
						</a>
					</li>
					<li class="slider-item">
						<a href="./detail.html?productId=43" class="slider-commodit">
							<img src="<%= require('../image/floor/floor1-4.jpg') %>" class="sc-pic"/>
							<p class="sc-title link">腾达AC1206 1200M</p>
							<div class="sc-price">
								<span class="commodit-price sc-newPrice">￥219.00</span>
								<span class="commodit-price sc-oldPrice"> ￥219.10
								</span>
								<p class="delete-decoration"></p>
							</div>
						</a>
					</li>
					<li class="slider-item">
						<a href="./detail.html?productId=44" class="slider-commodit">
							<img src="<%= require('../image/floor/floor2-1.jpg') %>" class="sc-pic"/>
							<p class="sc-title link">腾达AC1206 1200M</p>
							<div class="sc-price">
								<span class="commodit-price sc-newPrice">￥219.00</span>
								<span class="commodit-price sc-oldPrice">￥219.00</span>
								<p class="delete-decoration"></p>
							</div>
						</a>
					</li>
					<li class="slider-item">
						<a href="./detail.html?productId=45" class="slider-commodit">
							<img src="<%= require('../image/floor/floor2-2.jpg') %>" class="sc-pic"/>
							<p class="sc-title link">腾达AC1206 1200M</p>
							<div class="sc-price">
								<span class="commodit-price sc-newPrice">￥219.00</span>
								<span class="commodit-price sc-oldPrice">￥219.00</span>
								<p class="delete-decoration"></p>
							</div>
						</a>
					</li>
					<li class="slider-item">
						<a href="./detail.html?productId=46" class="slider-commodit">
							<img src="<%= require('../image/floor/floor2-3.jpg') %>" class="sc-pic"/>
							<p class="sc-title link">腾达AC1206 1200M</p>
							<div class="sc-price">
								<span class="commodit-price sc-newPrice">￥219.00</span>
								<span class="commodit-price sc-oldPrice">￥219.00</span>
								<p class="delete-decoration"></p>
							</div>
						</a>
					</li>
					<li class="slider-item">
						<a href="./detail.html?productId=47" class="slider-commodit">
							<img src="<%= require('../image/floor/floor2-4.jpg') %>" class="sc-pic"/>
							<p class="sc-title link">腾达AC1206 1200M</p>
							<div class="sc-price">
								<span class="commodit-price sc-newPrice">￥219.00</span>
								<span class="commodit-price sc-oldPrice"> ￥219.10
								</span>
								<p class="delete-decoration"></p>
							</div>
						</a>
					</li>
					<li class="slider-item">
						<a href="./detail.html?productId=48" class="slider-commodit">
							<img src="<%= require('../image/floor/floor3-1.jpg') %>" class="sc-pic"/>
							<p class="sc-title link">腾达AC1206 1200M</p>
							<div class="sc-price">
								<span class="commodit-price sc-newPrice">￥219.00</span>
								<span class="commodit-price sc-oldPrice">￥219.00</span>
								<p class="delete-decoration"></p>
							</div>
						</a>
					</li>
					<li class="slider-item">
						<a href="./detail.html?productId=49" class="slider-commodit">
							<img src="<%= require('../image/floor/floor3-2.jpg') %>" class="sc-pic"/>
							<p class="sc-title link">腾达AC1206 1200M</p>
							<div class="sc-price">
								<span class="commodit-price sc-newPrice">￥219.00</span>
								<span class="commodit-price sc-oldPrice">￥219.00</span>
								<p class="delete-decoration"></p>
							</div>
						</a>
					</li>
					<li class="slider-item">
						<a href="./detail.html?productId=50" class="slider-commodit">
							<img src="<%= require('../image/floor/floor3-3.jpg') %>" class="sc-pic"/>
							<p class="sc-title link">腾达AC1206 1200M</p>
							<div class="sc-price">
								<span class="commodit-price sc-newPrice">￥219.00</span>
								<span class="commodit-price sc-oldPrice">￥219.00</span>
								<p class="delete-decoration"></p>
							</div>
						</a>
					</li>
					<li class="slider-item">
						<a href="./detail.html?productId=51" class="slider-commodit">
							<img src="<%= require('../image/floor/floor3-4.jpg') %>" class="sc-pic"/>
							<p class="sc-title link">腾达AC1206 1200M</p>
							<div class="sc-price">
								<span class="commodit-price sc-newPrice">￥219.00</span>
								<span class="commodit-price sc-oldPrice">￥219.00</span>
								<p class="delete-decoration"></p>
							</div>
						</a>
					</li>
				</ul>
				<div class="slider-btn">
					<a class="banner-btn prev fa fa-angle-left"></a>
				    <a class="banner-btn next fa fa-angle-right"></a>
				</div>
			</div>
			<div class="fdGoods-tab">
				<div class="ft-list">
					<a href="./detail.html?productId=52" class="ft-item active">
						<img src="<%= require('../image/floor/fgGoods-tab1.jpg') %>" class="ft-pic">
					</a>
					<a href="./detail.html?productId=53" class="ft-item">
						<img src="<%= require('../image/floor/fgGoods-tab2.jpg') %>" class="ft-pic">
					</a>
				</div>
				<div class="ft-control">
					<span class="control-item active"></span>
					<span class="control-item"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="buyFloor">
		<div class="wrap buyFloor-con">
			<ul class="buyFloor-list">
				<li class="buyFloor-item">
					<a href="./detail.html?productId=54" class="buyFloor-content">
						<img src="<%= require('../image/floor/floor6-1.png') %>" class="buyFloor-item-mianPic" style="width: 236px;height: 300px;">
					</a>
				</li>
				<li class="buyFloor-item bi-show">
					<a href="./detail.html?productId=55" class="buyFloor-content">
						<img src="<%= require('../image/floor/floor1-1.jpg') %>" class="buyFloor-item-pic">
						<p class="buyFloor-item-title">13.3"联想笔记本Air i5 8G 256G MX150 黑色</p>
						<span class="buyFloor-item-subtitle">全金属超薄机身搭配独显</span>
						<p class="buyFloor-item-price">99元</p>
					</a>
					<div class="buyFloor-slider">
						<a href="./detail.html?productId=56" class="bs-content">
							<span class="bs-desc">从下单到收货，不到十二小时货就送到了，通上电源就可以...</span>
							<span class="bs-user"> 来自于xx的评价 </span>
						</a>
					</div>
				</li>
				<li class="buyFloor-item bi-show">
					<a href="./detail.html?productId=57" class="buyFloor-content">
						<img src="<%= require('../image/floor/floor2-1.jpg') %>" class="buyFloor-item-pic">
						<p class="buyFloor-item-title">13.3"联想笔记本Air i5 8G 256G MX150 黑色</p>
						<span class="buyFloor-item-subtitle">全金属超薄机身搭配独显</span>
						<p class="buyFloor-item-price">99元</p>
					</a>
					<div class="buyFloor-slider">
						<a href="./detail.html?productId=58" class="bs-content">
							<span class="bs-desc">从下单到收货，不到十二小时货就送到了，通上电源就可以...</span>
							<span class="bs-user"> 来自于xx的评价 </span>
						</a>
					</div>
				</li>
				<li class="buyFloor-item bi-show">
					<a href="./detail.html?productId=59" class="buyFloor-content">
						<img src="<%= require('../image/floor/floor3-1.jpg') %>" class="buyFloor-item-pic">
						<p class="buyFloor-item-title">13.3"联想笔记本Air i5 8G 256G MX150 黑色</p>
						<span class="buyFloor-item-subtitle">全金属超薄机身搭配独显</span>
						<p class="buyFloor-item-price">99元</p>
					</a>
					<div class="buyFloor-slider">
						<a href="#" class="bs-content">
							<span class="bs-desc">从下单到收货，不到十二小时货就送到了，通上电源就可以...</span>
							<span class="bs-user"> 来自于xx的评价 </span>
						</a>
					</div>
				</li>
				<li class="buyFloor-item bi-show">
					<a href="./detail.html?productId=60" class="buyFloor-content">
						<img src="<%= require('../image/floor/floor4-1.jpg') %>" class="buyFloor-item-pic">
						<p class="buyFloor-item-title">13.3"联想笔记本Air i5 8G 256G MX150 黑色</p>
						<span class="buyFloor-item-subtitle">全金属超薄机身搭配独显</span>
						<p class="buyFloor-item-price">99元</p>
					</a>
					<div class="buyFloor-slider">
						<a href="./detail.html?productId=61" class="bs-content">
							<span class="bs-desc">从下单到收货，不到十二小时货就送到了，通上电源就可以...</span>
							<span class="bs-user"> 来自于xx的评价 </span>
						</a>
					</div>
				</li>
			</ul>
			<ul class="buyFloor-list">
				<li class="buyFloor-item">
					<a href="./detail.html?productId=62" class="buyFloor-content">
						<img src="<%= require('../image/floor/floor6-1.png') %>" class="buyFloor-item-mianPic" style="width: 236px;height: 300px;">
					</a>
				</li>
				<li class="buyFloor-item bi-show">
					<a href="./detail.html?productId=63" class="buyFloor-content">
						<img src="<%= require('../image/floor/floor1-2.jpg') %>" class="buyFloor-item-pic">
						<p class="buyFloor-item-title">13.3"联想笔记本Air i5 8G 256G MX150 黑色</p>
						<span class="buyFloor-item-subtitle">全金属超薄机身搭配独显</span>
						<p class="buyFloor-item-price">99元</p>
					</a>
					<div class="buyFloor-slider">
						<a href="./detail.html?productId=634" class="bs-content">
							<span class="bs-desc">从下单到收货，不到十二小时货就送到了，通上电源就可以...</span>
							<span class="bs-user"> 来自于xx的评价 </span>
						</a>
					</div>
				</li>
				<li class="buyFloor-item bi-show">
					<a href="./detail.html?productId=65" class="buyFloor-content">
						<img src="<%= require('../image/floor/floor2-2.jpg') %>" class="buyFloor-item-pic">
						<p class="buyFloor-item-title">13.3"联想笔记本Air i5 8G 256G MX150 黑色</p>
						<span class="buyFloor-item-subtitle">全金属超薄机身搭配独显</span>
						<p class="buyFloor-item-price">99元</p>
					</a>
					<div class="buyFloor-slider">
						<a href="./detail.html?productId=66" class="bs-content">
							<span class="bs-desc">从下单到收货，不到十二小时货就送到了，通上电源就可以...</span>
							<span class="bs-user"> 来自于xx的评价 </span>
						</a>
					</div>
				</li>
				<li class="buyFloor-item bi-show">
					<a href="./detail.html?productId=67" class="buyFloor-content">
						<img src="<%= require('../image/floor/floor3-2.jpg') %>" class="buyFloor-item-pic">
						<p class="buyFloor-item-title">13.3"联想笔记本Air i5 8G 256G MX150 黑色</p>
						<span class="buyFloor-item-subtitle">全金属超薄机身搭配独显</span>
						<p class="buyFloor-item-price">99元</p>
					</a>
					<div class="buyFloor-slider">
						<a href="#" class="bs-content">
							<span class="bs-desc">从下单到收货，不到十二小时货就送到了，通上电源就可以...</span>
							<span class="bs-user"> 来自于xx的评价 </span>
						</a>
					</div>
				</li>
				<li class="buyFloor-item bi-show">
					<a href="./detail.html?productId=68" class="buyFloor-content">
						<img src="<%= require('../image/floor/floor4-2.jpg') %>" class="buyFloor-item-pic">
						<p class="buyFloor-item-title">13.3"联想笔记本Air i5 8G 256G MX150 黑色</p>
						<span class="buyFloor-item-subtitle">全金属超薄机身搭配独显</span>
						<p class="buyFloor-item-price">99元</p>
					</a>
					<div class="buyFloor-slider">
						<a href="./detail.html?productId=69" class="bs-content">
							<span class="bs-desc">从下单到收货，不到十二小时货就送到了，通上电源就可以...</span>
							<span class="bs-user"> 来自于xx的评价 </span>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<%= require('html-loader!./layout/footer.html')  %>
</body>
</html>