<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<div class="header">
		<div class="wrap">
			<div class="header-item header-logo">
				<a href="./index.html" class="header-logo">LUNAR</a>
			</div>
			<div class="header-item header-title">
				<p>确认订单</p>
			</div>
			<div class="header-item header-info">
				<a href="#" class="link header-username">tianjinkejidaxue</a>
				<a href="./order-list.html" class="link header-order">我的订单</a>
			</div>
		</div>
	</div>
	<div class="order-confirm">
		<div class="wrap order-content">
			<div class="section section-address">
				<!-- address-list.string -->
			</div>
			<div class="section section-type">
				<h3 class="section-title">配送方式</h3>
				<a href="#" class="section-desc">快递配送(免运费)</a>
			</div>
			<div class="section section-body">
				<!-- product-list.string -->
			</div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer.html')  %>
	<div class="modal">
		<!-- modal-wrap.string -->
	</div>
</body>
</html>