<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/topbar.html')  %>
	<%= require('html-loader!./layout/header.html')  %>
	<div class="personal-box">
		<div class="bread-crumb">
			<div class="wrap">
				<a href="#" class="link">LUNAR</a>
				<span>></span>
				<a href="#" class="link">修改密码</a>
			</div>
		</div>
		<div class="personal wrap">
			<%= require('html-loader!./layout/navside.html')  %>
			<div class="personal-con">
				<div class="personal-title">修改密码</div>
				<div class="password-update">
		            <div class="p-u-content">
		            	<div class="p-u-item oldPassword">
		            		<p class="p-u-title">原密码</p>
		            		<input class="p-u-text" id="password-old" type="password" name="" placeholder="输入原密码">
		            	</div>
		            	<div class="error-item">
		            		<i class="fa fa-exclamation-circle"></i>
		            		<span>密码长度错误</span>
		            	</div>
		            	<div class="p-u-item newPassword">
		            		<p class="p-u-title">新密码</p>
		            		<input class="p-u-text" id="password-new" type="password" name="" placeholder="输入新密码">
		            		<input class="p-u-text" id="password-confirm" type="password" name="" placeholder="确认密码">
		            	</div>
		            	<div class="error-item">
		            		<i class="fa fa-exclamation-circle"></i>
		            		<span>密码长度8~16位，数字、字母、字符至少包含两种</span>
		            	</div>
		            	<div class="password-btn">
		            		<a class="password-ok">确定</a>
		            	</div>
		            </div>
		        </div>
			</div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer.html')  %>
</body>
</html>