<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/topbar.html')  %>
	<%= require('html-loader!./layout/header.html')  %>
	<div class="breadcrumbs">
		<div class="wrap">
			<a href="./index.html" class="link">LUNAR</a>
			<span>></span>
			<span class="search-result">修改密码</span>
		</div>
	</div>
	<div class="list-content">
		<div class="user-box wrap">
			<div class="navside">
				<ul class="navside-list">
					<li class="navside-item"><a href="./user-center.html">个人中心</li>
					<li class="navside-item"><a href="./order-list.html">我的订单</li>
					<li class="navside-item"><a class="active" href="./password-update.html">修改密码</li>
				</ul>
			</div>
            <div class="panel">
            	<h4 class="panel-title">修改密码</h4>
            	<div class="panel-body">
            		<div class="pass-update">
            			<div class="psw-item">
            				<h4 class="psw-title">原密码</h4>
            				<input type="password" name="" class="psw-text oldPassword" placeholder="输入旧密码">
            			</div>
            			<div class="error-item">
            				<p><i class="fa fa-exclamation-circle"></i>原密码错误</p>
            			</div>
            			<div class="psw-item">
            				<h4 class="psw-title">新密码</h4>
            				<input type="password" name="" class="psw-text newPassword" placeholder="输入新密码" class="psw-text passwordNew">
            				<input type="password" name="" class="psw-text confirmPassword" placeholder="确认密码">
            			</div>
            			<div class="error-item">
            				<p><i class="fa fa-exclamation-circle"></i>两次输入密码不一致</p>
            			</div>
            			<div class="psw-item">
            				<a class="psw-btn">确认</a>
            			</div>
            		</div>
            	</div>
            </div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer.html')  %>
</body>
</html>