<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/topbar.html')  %>
	<%= require('html-loader!./layout/header.html')  %>
	<div class="personal-box">
		<div class="bread-crumb">
			<div class="wrap">
				<a href="#" class="link">LUNAR</a>
				<span>></span>
				<span>个人中心</span>
			</div>
		</div>
		<div class="personal wrap">
			<%= require('html-loader!./layout/navside.html')  %>
			<div class="personal-con">
				<div class="personal-title">个人中心</div>
				<div class="user-center">
		            <!-- index.string -->
		        </div>
			</div>
		</div>
		<div class="modal">
			<div class="modal-wrap">
				<h4 class="modal-title">个人中心修改</h4>
				<div class="modal-content">
					<!-- modal.string -->
				</div>
				<div class="modal-footer">
			      	<a class="link save">保存</a>
			      	<a class="link cancel">取消</a>
			    </div>	
			</div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer.html')  %>
</body>
</html>