<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
    <div class="page-wrap">
        <div class="user-con">
            <div class="user-title">用户登录</div>
            <div class="user-box">
                <div class="user-item">
                    <input type="text" class="user-content" id="username" placeholder="请输入用户名">
                </div>
                <div class="user-item">
                    <input type="password" class="user-content" id="password" placeholder="请输入密码">
                </div>
                <div class="error-item">
                    <div class="error-content">
                        <i class="fa fa-exclamation-circle"></i>
                        <p class="error-msg">用户名或密码不正确!</p>
                    </div>
                </div>
                <div class="user-item">
                    <a href="#" class="btn-submit" id="submit">登录</a>
                </div>
                <div class="link-item">
                    <a href="./user-register.html" class="link">立即注册</a>
                    <a href="#" class="link">|</a>
                    <a href="./password-reset.html" class="link">忘记密码</a>
                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader!./layout/footer.html')  %>
</body>
</html>
