.personal-box{
	background: #F6F6F6;
}
.personal-box .bread-crumb{
	height: 60px;
	line-height: 60px;
	background: #EEEEEE;
}
.personal-box .bread-crumb .link{
	font-size: 15px;
}
.personal-box .bread-crumb span{
	color: #999;
	padding: 0 2px;
	font-size: 15px;
}
.personal-box .personal{
	padding: 20px 0;
}
.personal .personal-con{
	float: left;
	width: 950px;
	background: #fff;
}
.personal-con .personal-title{
	padding: 20px 10px 10px 10px;
	width: 930px;
	font-size: 16px;
	color: #666;
	border-bottom: 1px solid #eee;
}
.personal-con .order-con{
	padding: 10px;
	width: 930px;
}
.personal-con .order-con .order-title{
	overflow: hidden;
}
.personal-con .order-con .title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 14px;
	color: #999;
	background: #EEEEEE;
}
.personal-con .order-con .title.order-pic{
    width: 15%;
}
.personal-con .order-con .title.order-name{
    width: 40%;
    text-align: left;
}
.personal-con .order-con .title.order-price{
    width: 15%;
}
.personal-con .order-con .title.order-count{
    width: 15%;
}
.personal-con .order-con .title.order-total{
    width: 15%;
}

.personal-con .order-con .order-list{
	margin-top: 20px;
	overflow: hidden;
    width: 100%;
}
.personal-con .order-con .order-list .order-item{
	overflow: hidden;
	background: #FAFAFA;
	margin-bottom: 20px;
}
.personal-con .order-con .order-list .order-item .order-item-info{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #999;
	background: #EEEEEE;
}
.personal-con .order-con .order-list .order-item .order-item-info .info-item{
	padding-right: 20px;
}
.personal-con .order-con .order-list .order-item .order-item-info .info-detail{
	padding-left: 100px;
}
.personal-con .order-con .order-list .order-item .order-item-product{
	line-height: 100px;
	font-size: 14px;
	color: #999;
}
.personal-con .order-con .order-list .order-item .order-item-product .title{
	height: 100px;
	background: #FAFAFA;
	line-height: 100px;
}
.personal-con .order-con .order-list .order-item .order-pic .product-pic{
    width: 80px;
    height: 80px;
    padding: 10px 30px;
}