*{
    margin: 0;
    padding: 0;
}
.page-wrap{
    width: 100%;
    margin-bottom: 20px;
    /*background: url(../../image/icon/log-reg-bg.jpg) no-repeat;*/
    background: rgb(72,124,174,.8);
    padding-bottom: 40px;
    background-size: contain;
}
.page-wrap .user-con{
    width: 400px;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
    position: relative;
    top: 20px;
    padding: 30px;
    border: 1px solid #DADADA;
}
.page-wrap .user-con .user-title{
    font-size: 24px;
    color: #f56600;
    text-align: center;
}
.page-wrap .user-con .user-box{
    margin-top: 40px;
}
.page-wrap .user-con .user-box .user-item{
    border: 1px solid #E0E0E0;
    margin-bottom: 20px;
}
.page-wrap .user-con .user-box .user-item.active{
    border: 1px solid #F56600;
}
.page-wrap .user-con .user-box .user-item .user-content{
    padding: 13px 16px 14px 13px;
    width: 316px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    border: none;
    outline: none;
}
.page-wrap .user-con .user-box .user-item .btn-submit{
    display: block;
    width: 400px;
    height: 48px;
    line-height: 48px;
    background-color: #f56600;
    color: #fff;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
}
.page-wrap .user-con .user-box .link-item{
    padding-left: 260px;
}

/*错误提示*/
.page-wrap .user-con .user-box .error-item{
    display: none;
}
.page-wrap .user-con .user-box .error-item .error-content{
    width: 400px;
    height: 30px;
    line-height: 0;
    color: #f56600;
    font-size: 14px;
}
.page-wrap .user-con .user-box .error-item .error-content .error-msg{
    display: inline-block;
}

/*register*/
.page-wrap .user-con .user-box .user-item.confirm{
    position: relative;
    height: 50px;
}
.page-wrap .user-con .user-box .user-item .confirm-code{
    position: absolute;
    left: 0;
    top: ;
    width: 240px;
    border-right: 1px solid #E0E0E0;
}
.page-wrap .user-con .user-box .user-item .confirm-pic{
    width: 128.5px;
    height: 50px;
    position: absolute;
    left: 270px;
    top: 0;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border: 1px solid red;

    font-family:Arial,宋体; 
    font-style:italic; 
    color:green; 
    border:0; 
    padding:2px 3px; 
    letter-spacing:3px; 
    font-weight:bolder; 
}