<div class="header">
	<div class="wrap">
		<div class="header-logo">
			<a href="./index.html">LUNAR</a>
		</div>
		<div class="header-nav">
			<ul class="nav-list">
				<li class="nav-item">
					<a href="#" class="list-item link">LUNAR手机</a>
				</li>
				<li class="nav-item">
					<a href="#" class="list-item link">电脑</a>
				</li>
				<li class="nav-item">
					<a href="#" class="list-item link">电视</a>
				</li>
				<li class="nav-item">
					<a href="#" class="list-item link">家用电器</a>
				</li>
				<li class="nav-item">
					<a href="#" class="list-item link">零食</a>
				</li>
				<li class="nav-item">
					<a href="#" class="list-item link">化妆品</a>
				</li>
				<li class="nav-item">
					<a href="#" class="list-item link">服装</a>
				</li>
                <li class="nav-item">
					<a href="#" class="list-item link">家具家居</a>
				</li>
			</ul>
		</div>
		<div class="header-search">
			<input type="text" class="search-content"/>
			<button class="search-btn" id="search-button">
				<i class="fa fa-search"></i>
			</button>
			<div class="search-hot">
				<ul class="search-hot-list">
					<li class="search-hot-item">
						<a href="www.baidu.com" class="hot-title" id="iphonex">苹果手机X
                            <p class="title-count">约有<span class="count">10</span>件</p>
						</a>
					</li>
					<li class="search-hot-item">
						<a href="./list.html?keyword=手机" class="hot-title">小米笔记本Air
                            <p class="title-count">约有<span class="count">2</span>件</p>
						</a>
					</li>
					<li class="search-hot-item">
						<a href="./list.html?keyword=手机" class="hot-title">外星人Alien
                            <p class="title-count">约有<span class="count">23</span>件</p>
						</a>
					</li>
					<li class="search-hot-item">
						<a href="./list.html?keyword=手机" class="hot-title">魅族平板电脑
                            <p class="title-count">约有<span class="count">343</span>件</p>
						</a>
					</li>
					<li class="search-hot-item">
						<a href="./list.html?keyword=手机" class="hot-title">苹果手机X
                            <p class="title-count">约有<span class="count">10</span>件</p>
						</a>
					</li>
					<li class="search-hot-item">
						<a href="./list.html?keyword=手机" class="hot-title">小米笔记本Air
                            <p class="title-count">约有<span class="count">2</span>件</p>
						</a>
					</li>
					<li class="search-hot-item">
						<a href="./list.html?keyword=手机" class="hot-title">外星人Alien
                            <p class="title-count">约有<span class="count">23</span>件</p>
						</a>
					</li>
					<li class="search-hot-item">
						<a href="./list.html?keyword=手机" class="hot-title">魅族平板电脑
                            <p class="title-count">约有<span class="count">343</span>件</p>
						</a>
					</li>
					<li class="search-hot-item">
						<a href="./list.html?keyword=手机" class="hot-title">小米笔记本Air
                            <p class="title-count">约有<span class="count">2</span>件</p>
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>