<div class="topbar">
    <div class="wrap">
        <div class="topbar-info">
            <div class="user login">
                <a class="link" id="user-login">登录</a>
                <a href="./user-register.html" class="link">注册</a>
            </div>
            <div class="user not-login">
                <span>
                    欢迎，<i class="topbar-username">xxxx</i>
                </span>
                <a  class="link logout">退出</a>
            </div>
        </div>
        <div class="topbar-nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#" class="link">我的订单</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="link">个人中心</a>
                </li>
                <li class="nav-item nav-cart">
                    <a href="./cart.html" class="link">
                        <i class="fa fa-shopping-cart"></i>
                        购物车(<span class="cart-count">0</span>)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>